<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
        {% include "partials/link.html.twig" %}
        {% endblock %}  
    </head>
    <body>
		{% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/footer.html.twig" %}

        {% block javascripts %}
           {% include "partials/script.html.twig" %}
        {% endblock %}
    </body>
</html>
